body {
    font-family: "roboto", sans-serif;
}

.logo {
    font-family: "raleway";
    background-color: transparent;
    text-decoration: none;
    color: #2196F3;
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 1.192;
    letter-spacing: 0.03em;
}

.hero_header {
    font-weight: 900;
    font-size: 2.75rem;
    line-height: 1.363;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
}

.hero {
    background-color: #2F303A;   
}

.hero_button {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;
    border: none;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px #00000026;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    cursor: pointer;
}

.article_header {
   font-size: 0.875rem;
   font-weight: 700;
}

.article_text {
    color:#757575 ;
    font-size: 0.875rem;
}

.services_header, .team_header {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 1.166;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team {
    background: #F5F4FA;
}

.team_figure_header {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    color: 212121;
}

.team_description {
    font-size: 1rem;
    line-height: 1.187;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.team_figure {
    width: 270px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px #0000001f, 0px 1px 1px #00000024, 0px 2px 1px #00000033;
    border-radius: 0px 0px 4px 4px
}

.img_services, .img_project {
    width: 370px;
    height: 294px;
}

.img_team {
    width: 270px;
    height: 260px;
}

button[type="button"] {
    height: 38px;
    background: #F5F4FA;
    border-radius: 4px;
    border: none;   
}

button[type="button"]:hover {
    background-color: #2196F3;
    color: #FFFFFF;
    cursor: pointer;
}

button[type="button"]:focus {
    background-color: #2196F3;
    color: #FFFFFF;
}

.nav_list, .addres_link {
    font-weight: 500;
    font-size: 0.875rem; 
    line-height: 1.1428;
    letter-spacing: 0.02em;
}

.nav_link {
    background-color: transparent;
    text-decoration: none;
    color: #212121;
}

.nav_link:hover {
    color: #2196f3;
}

.nav_link:active {
    color: #a52a2a;
}

.addres_link {
    background-color: transparent;
    text-decoration: none;
    color: #757575;
    font-style: normal;
}

.addres_link:hover {
    color: #2196f3;
}

.addres_link:active {
    color: #a52a2a;
}

.nav_list, .article_list, .services_list, .team_list, .button_list, .project_list {
    list-style-type: none 
}

.project_figure {
    width: 370px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.project_figure_header {
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.project_description {
    font-size: 1rem;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: #757575;
}

.footer {
    background-color:#2F303A ;
}

.addres_street {
    font-style: normal;
    color: #FFFFFF;
}